
.container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;


}

.albums {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 300px;

}

.albums ul {
  list-style: none;
}

.albums ul li {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.albums ul li:hover {
  background-color: aliceblue;
}

.photos {
  width: 600px;
  margin-top: 40px;
  box-sizing: border-box;
  justify-content: center;
}

.photos-and-title {
  flex-wrap: wrap;
}

.col {
  width: 200px;
}

.choose-album {
  font-size: 25px;
  position: relative;
  top: 250px;
  right: 200px;

}

.input {
  width: 96%;
  margin-bottom: 25px;
  padding: 10px;
}

.flex {
  display: flex;
}
.title {
  margin-bottom: 40px;
}

.picture {
  width: 100%;
}

.select {
  background-color: aliceblue;
}



